flask
MySQL-python
sqlalchemy
pyshp
psycopg2
flask_bootstrap
flask_nav
flask_wtf
pymssql
numpy
matplotlib
celery[librabbitmq,redis,auth,msgpack]
requests
ipython
configobj
simplejson
pyinotify
utm
scipy
netCDF4
kombu
billiard
pytz
OWSLib
geojson
simplekml