{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{% block styles -%}
    {{super()}}
{% endblock %}

{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later intact. #}

{% block content %}
{% set off=off_t %}
{% import 'bet_macros.html' as betm %}
<div id="main" class="container-fluid bet_results">
    <div class="jumbotron" align="center">
        <div id="bet_date" class="row bet_row">
            {% include 'blocks/header.html' %}
        </div>
        <div id="block_row" class="row">
            <div id="block" class="col-lg-12 bet_block">
                {% include 'blocks/'+name+'.html' %}
            </div>
        </div>
         {{ betm.disclaimer(disclaimer) }}
    </div>
</div>
{%- endblock %}